.profile-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}